@media screen and (min-width:320px) and (max-width:567px){
	.slider_banner{
		display: none;
	}
	.container{
		width:90%;
	}
	.social{
		text-align: right;
	}
	.social li{
		margin-left: 15px;
	}
	.social ul{
		padding:3px 0px 1px;
	}
	.logo_main{
		width: 100%;
	}
	.nav_bar{
		width: 100%;
		float: right;
		text-align: left;
	}
	.nav_bar li{
		display: block;
		margin:8px;
	}
	.nav_bar li:last-child{
		display: none;
	}
	.nav_bar a{
		font-size: 14px;
	}
	.about_us_main{
		margin-bottom: 5px;
	}
	.about_us_left{
		width: 100%;
		padding-right: 0px;	
	}
	.about_us_left1{
		margin: 20px 0px 20px;	
	}
	.about_us_left1 h2{
		font-size: 20px;
		margin-bottom: 10px;	
	}
	.about_us_left1 p{
		font-size: 15px;	
		line-height: 20px;
	}
	.know_more{
		text-align: center;
		margin-bottom: 25px;
	}
	.know_more a{
		font-size: 15px;
		padding: 7px 20px;
	}
	.about_us_right{
		width: 100%;
	}
	.call_and_email{
		width: 100%;
	}
	.address_block{
		width: 100%;
	}
	.address_block p{
		font-size: 17px;
	}
	.call a,.email a{
		font-size: 16px;
	}
	.send_block{
		width: 100%;
	}
	.arrow_button{
		left:75%;	
	}
	.build_inner{
		width: 100%;
		margin-left: 0;
		padding: 25px 0px 0px;
	}
	.build_inner h2{
		font-size: 25px;
	}
	.build_inner p{
		font-size: 14px;
		text-align: justify;
	}
	.process{
		width:100%;
		padding-right: 0px;
		position: unset;
		margin-top: 15px;
	}
	.process_icon h4{
		font-size: 16px;
		padding-bottom: 5px;

	}
	.process:first-child{
		padding-top: 0px;
	}
	.process:last-child h4{
		padding-bottom: 5px;
	}
	.processes_block{
		margin-bottom: 20px;
	}
	.process_icon::after{
		display: none;
	}
	
	.text_inner li{
		font-size: 16px;
		margin-bottom: 30px;
	}
	.text_inner li:last-child{
		margin-bottom: 0px;
	}
	.text_inner a{
		margin-left: 0px;	
		padding: 10px 20px;
	}
	.latest_projects_block{
	    margin-bottom: 30px;
	}
	.latest_project_content{
		margin-top: 15px;

	}
	.project_content{
		width: 100%;
		margin:0px 0px 15px 0px;
	}
	.project_content h4{
		font-size: 18px;
		margin-bottom: 15px;

	}
	.project_content p{
		font-size: 14px;
	}
	.residential_buildings{
		margin-bottom: 15px;
	}
	.residential_buildings h4{
		font-size: 20px;
	}
	.hover_image{	
		height: 73%;
		background-color:rgba(247,143,30,0.8);;
		padding: 15px;
		display: none;
		position: absolute;
		top:0;
		left: 0;
		margin:0 auto;
	}
	.hover_image h4{
		color: #ffffff;
		font-family: 'Gotham Book';
		font-size: 11px;
		padding-bottom: 3px;
		border-bottom: 2px solid #ffffff;
		line-height: 20px;
	}
	.project_gallery li{
		width: 48%;
		margin-right: 11px;
		padding-bottom: 7pX;

	}
	.project_gallery li:nth-child(2){
		margin-right: 0px;
	}
	.project_gallery li:nth-child(4){
		margin-right: 0px;
	}
	.project_gallery li:last-child{
		margin-right: 0px;
	}
	.project_gallery li:nth-child(3){
		margin-right: 11px;
	}
	.view_all_project a{
		font-size: 14px;
		padding: 10px 40px;
	}

	.footer_address,.footer_contact_us{
	width: 100%;
	padding:15px 0 15px;
	margin-right: 0px;
	}

	.footer_address h4,.footer_contact_us h4,.footer_quick_links h4{
	font-size: 20px;
	padding-bottom: 5px;
	}

	.footer_address p{
		font-size: 14px;
		padding-top: 15px;
	}
	.footer_address li{
		padding: 15px 0px 25px;
	}
	.footer_contact_us li{
		padding-bottom: 10px;

	}
	.footer_contact_us a,.footer_copyright_bottom p,.about_us_left1 p,.process p{
    	font-size: 14px;
    }

    .about_us_left2 li{
    	line-height: 14px;
    	font-size: 14px;
    }

	.footer_quick_links{
		width: 100%;
		padding-top: 0px;
	}
	.left_list ul {
    padding-top: 10px;
    padding-bottom: 15px
    }
    .left_list a{
    	font-size: 12px;
    }
    .left_list li{
	padding-bottom: 10px;
    }
    .footer_quick_links h3{
    	font-size: 40px;
    	padding-bottom: 15px;
    }
    .footer_copyright_top h5{
    	font-size: 14px;
    	padding-bottom: 5px;
    }
}
@media screen and (min-width:375px) and (max-width:413px){
	.hover_image{	
		height: 76%;
	}
}
@media screen and (min-width:414px) and (max-width:479px){
	.hover_image{	
		height: 78%;
	}
}
@media screen and (min-width:480px) and (max-width:568px){
	.hover_image{	
		height: 84%;
	}
}

@media screen and (min-width:568px) and (max-width:736px){	

	.container{
		width:90%;
	}
	.social{
		text-align: right;
	}
	.social li{
		margin-left: 15px;
	}
	.social ul{
		padding:3px 0px 1px;
	}
	.logo_main{
		width: 30%;
	}
	.nav_bar{
		width: 70%;
		float: right;
		text-align: left;
	}
	.nav_bar ul{
		margin-left: 25px;	
	}
	.nav_bar li{
		display: inline-block;
		margin:7px;
	}
	.nav_bar li:last-child{
		display: none;
	}
	.nav_bar a,.slider_banner a{
		font-size: 12px;
	}
	.slider_banner p{
		font-size: 25px;
	}
	.slider_banner h3{
		font-size: 14px;
		margin: 10px 0px 20px 0px;
	}
	.about_us_main{
		margin-bottom: 5px;
	}
	.about_us_left{
		width: 100%;
		padding-right: 0px;	
	}
	.about_us_left1{
		margin: 20px 0px 20px;	
	}
	.about_us_left1 h2{
		font-size: 20px;
		margin-bottom: 10px;	
	}
	.about_us_left1 p{
		font-size: 15px;	
		line-height: 20px;
	}
	.know_more{
		text-align: center;
		margin-bottom: 25px;
	}
	.know_more a{
		font-size: 15px;
		padding: 7px 20px;
	}
	.about_us_right{
		width: 100%;
	}
	.call_and_email{
		width: 50%;
	}
	.address_block{
		width: 50%;
	}
	.address_block p{
		font-size: 17px;
	}
	.call a,.email a{
		font-size: 16px;
	}
	.send_block{
		width: 100%;
	}
	.arrow_button{
		left:75%;	
	}
	.build_inner{
		width: 100%;
		margin-left: 0;
		padding: 25px 0px 0px;
	}
	.build_inner h2{
		font-size: 25px;
	}
	.build_inner p{
		font-size: 14px;
		text-align: justify;
	}
	.process{
		width:100%;
		padding-right: 0px;
		position: unset;
		margin-top: 15px;
	}
	.process_icon h4{
		font-size: 16px;
		padding-bottom: 5px;

	}
	.process:first-child{
		padding-top: 0px;
	}
	.process:last-child h4{
		padding-bottom: 5px;
	}
	.processes_block{
		margin-bottom: 20px;
	}
	.process_icon::after{
		display: none;
	}
	
	.text_inner li{
		font-size: 16px;
		margin-bottom: 0px;
	}
	.text_inner li:last-child{
		margin-bottom: 0px;
	}
	.text_inner a{
		margin-left: 0px;	
		padding: 10px 20px;
	}
	.latest_projects_block{
	    margin-bottom: 30px;
	}
	.latest_project_content{
		margin-top: 15px;

	}
	.project_content{
		width: 100%;
		margin:0px 0px 15px 0px;
	}
	.project_content h4{
		font-size: 18px;
		margin-bottom: 15px;

	}
	.project_content p{
		font-size: 14px;
	}
	.residential_buildings{
		margin-bottom: 15px;
	}
	.residential_buildings h4{
		font-size: 20px;
	}
	.hover_image{	
		height: 84%;
		background-color:rgba(247,143,30,0.8);;
		padding: 15px;
		display: none;
		position: absolute;
		top:0;
		left: 0;
		margin:0 auto;
	}
	.hover_image h4{
		color: #ffffff;
		font-family: 'Gotham Book';
		font-size: 25px;
		padding-bottom: 3px;
		border-bottom: 2px solid #ffffff;
		line-height: 20px;
	}
	.project_gallery li{
		width: 48%;
		margin-right: 11px;
		padding-bottom: 7pX;

	}
	.project_gallery li:nth-child(2){
		margin-right: 0px;
	}
	.project_gallery li:nth-child(4){
		margin-right: 0px;
	}
	.project_gallery li:last-child{
		margin-right: 0px;
	}
	.project_gallery li:nth-child(3){
		margin-right: 11px;
	}
	.view_all_project a{
		font-size: 14px;
		padding: 10px 40px;
	}

	.footer_address,.footer_contact_us{
	width: 100%;
	padding:15px 0 15px;
	margin-right: 0px;
	}

	.footer_address h4,.footer_contact_us h4,.footer_quick_links h4{
	font-size: 20px;
	padding-bottom: 5px;
	}

	.footer_address p{
		font-size: 14px;
		padding-top: 15px;
	}
	.footer_address li{
		padding: 15px 0px 25px;
	}
	.footer_contact_us li{
		padding-bottom: 10px;

	}
	.footer_contact_us a,.footer_copyright_bottom p,.about_us_left1 p,.process p{
    	font-size: 14px;
    }

    .about_us_left2 li{
    	line-height: 14px;
    	font-size: 14px;
    }

	.footer_quick_links{
		width: 100%;
		padding-top: 0px;
	}
	.left_list ul {
    padding-top: 10px;
    padding-bottom: 15px
    }
    .left_list a{
    	font-size: 12px;
    }
    .left_list li{
	padding-bottom: 10px;
    }
    .footer_quick_links h3{
    	font-size: 40px;
    	padding-bottom: 15px;
    }
    .footer_copyright_top h5{
    	font-size: 14px;
    	padding-bottom: 5px;
    }

}
@media screen and (min-width:568px) and (max-width:736px){
	.hover_image{	
		height: 86%;
	}
	.hover_image h4{
		line-height: 34px;
	}

}
@media screen and (min-width:737px) and (max-width:1112px){

	.container{
	width: 90%;
	}


	.social{
		text-align: right;
	}
	.social li{
		margin-left: 15px;
	}
	.social ul{
		padding:3px 0px 1px;
	}
	.logo_main{
		width: 30%;
		margin-top: 18px;
	}
	.nav_bar{
		width: 70%;
		float: right;
		text-align: left;
	}
	.nav_bar ul{
		margin-left: 25px;	
	}
	.nav_bar li{
		display: inline-block;
		margin:7px;
	}
	.nav_bar a,.slider_banner a{
		font-size: 14px;
	}
	.slider_banner p{
		font-size: 35px;
	}
	.slider_banner h3{
		font-size: 22px;
		margin: 10px 0px 20px 0px;
	}
	.about_us_left{
		padding-right: 15px;
	}
	.about_us_left1{
		margin: 25px 0px 20px;
	}
	.about_us_left1 h2{
		font-size: 25px;
		margin-bottom: 10px;	
	}
	.about_us_left1 p,.about_us_left2 li{
		font-size: 14px;
	}
	.know_more a{
		font-size: 15px;
	}
	.call_and_email{
		width: 50%;
	}
	.address_block{
		width: 50%;
	}
	.send_block{
		width: 100%;
	}
	.build_inner{
		width: 100%;
		margin-left: 0%;
		padding: 50px 0px 40px;
	}
	.process{
		width: 100%;
		margin-bottom: 15px;
	}
	.process_icon::after{
		display: none;
	}

	.process_icon:first-child{
		margin-top: 0px;
	}
	.process:first-child{
		padding-top: 0px;
	}
	.latest_project_content{
		margin-top: 50px;
	}
	.project_content{
		width: 100%;
		margin-bottom: 30px;
		margin-left: 0px;
	}
	.residential_buildings{
		margin-bottom: 30px;
	}
	.project_gallery li{
		width: 31%;
	}
	.footer_address, .footer_contact_us{
		width: 47%;
	}
}
@media screen and (min-width:1113px) and (max-width:1279px){

	.container{
		width: 90%;
	}
	.social{
		text-align: right;
	}
	.social li{
		margin-left: 15px;
	}
	.social ul{
		padding:3px 0px 1px;
	}
	.logo_main{
		width: 30%;
		margin-top: 18px;
	}
	.nav_bar{
		width: 70%;
		float: right;
		text-align: left;
	}
	.nav_bar ul{
		margin-left: 25px;	
	}
	.nav_bar li{
		display: inline-block;
		margin:7px;
	}
	.nav_bar a,.slider_banner a{
		font-size: 14px;
	}
	.slider_banner p{
		font-size: 40px;
	}
	.slider_banner h3{
		font-size: 25px;
		margin: 10px 0px 20px 0px;
	}
	.about_us_left{
		padding-right: 15px;
	}
	.about_us_left1{
		margin: 30px 0px 20px;
	}
	.about_us_left1 h2{
		font-size: 25px;
		margin-bottom: 10px;	
	}
	.about_us_left1 p,.about_us_left2 li{
		font-size: 14px;
	}
	.know_more a{
		font-size: 15px;
	}
	.call_and_email{
		width: 50%;
	}
	.address_block{
		width: 50%;
	}
	.send_block{
		width: 100%;
	}
	.build_inner{
		width: 100%;
		margin-left: 0%;
		padding: 50px 0px 40px;
	}
	.process{
		width: 30%;
		padding-right: 40px;
	}
	.process_icon:first-child{
		margin-top: 0px;
	}
	.process:first-child{
		padding-top: 0px;
	}
	.latest_project_content{
		margin-top: 50px;
	}
	.project_content{
		width: 100%;
		margin-bottom: 30px;
		margin-left: 0px;
	}
	.residential_buildings{
		margin-bottom: 30px;
	}
	.project_gallery li{
		width: 31%;
	}
	.footer_address, .footer_contact_us{
		width: 47%;
	}






}

